/* UI Object */
#wrap{width:100%}
#header{width:100%}
#container{_display:inline-block;width:100%}
#container:after{display:block;clear:both;content:''}
.snb{float:left;width:240px;margin-right:-260px; height: 300px; display: none}
#content{ padding: 20px 20px 10px 20px;}
#footer{width:100%}

/* Layout Color - �떎�젣 �꽌鍮꾩뒪 �쟻�슜 �썑 �궘�젣 */
#wrap{width:auto;margin:0;padding:10px;border:1px solid #bdbdbd;background:#f7f7f7}
#header{margin-top:10px; margin-bottom: 5px;}
#header,#container{width:auto;padding:10px;border:1px solid #bfbfbf;background:#e5e5e5}
.snb,#content{margin-top:10px;border:1px solid #bdbdbd;background:#fff;text-align:center}
#content{height:auto; }
#footer{width:auto;padding:10px;border:1px solid #bfbfbf;background:#e5e5e5; margin-top: 5px; text-align: center; font-size: 10px}

.lee-checkbox { margin-right:20px !important}


table { }
table th,td { font-size:14px; }
table th { color: #444444  }
table td { color: #636363 }
table caption { font-size:16px; font-weight:600; margin-bottom:6px; text-align:left; margin-top:20px;}


table.Noline {width:100%}
table.Noline th { border:none !important}
table.Noline td { border:none !important}


table.type01 {}
table.type01 td,table.type01 th{padding:10px;vertical-align:middle;border:1px solid #ccc}
table.type01{border-collapse:collapse;text-align:left;line-height:1.5;}
table.type01 th{ font-weight:700}
table.type01 td{ }


table.type02 td,table.type02 th{padding:10px;vertical-align:top;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
table.type02 {border-collapse:separate;border-spacing:0;text-align:left;line-height:1.5;border-top:1px solid #ccc;border-left:1px solid #ccc;}
table.type02 th{ font-weight:700;border-top:1px solid #fff;border-left:1px solid #fff;background:#eee; text-align:center}
table.type02 td{ }


table.type03 td,table.type03 th{padding:10px;vertical-align:middle;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
table.type03 {border-collapse:separate;border-spacing:0;text-align:center;line-height:1.5;border-top:1px solid #ccc;border-left:1px solid #ccc;}
table.type03 th{ font-weight:700;border-top:1px solid #fff;border-left:1px solid #fff;background:#eee}
table.type03 td{ }


/* �젅�씠�뼱�뙘�뾽 */

.setDiv{padding-top:100px;text-align:center}
.mask{position:absolute;left:0;top:0;z-index:9999;background-color:#000;display:none}
.window{display:none;width:800px;border-radius:8px;border:1px solid #ccc;box-shadow:#8B8B8B;background-color:#fff;z-index:99999;padding:10px 30px }

.topnav{overflow:hidden}
.topnav a{float:left;display:block;color:#666666;text-align:center;padding:14px 30px;text-decoration:none;font-size:17px}
.topnav a:hover{background-color:#ddd;color:#000}

/* �젅�봽�듃硫붾돱 */

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a{margin:0;padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu>ul>li.last>a,#cssmenu>ul>li.open>a,#cssmenu>ul>li:last-child>a{border-bottom:1px solid #1682ba}
#cssmenu{width:240px;font-family:Helvetica,Arial,sans-serif;color:#fff}
#cssmenu ul ul{display:none}.align-right{float:right}
#cssmenu>ul>li>a{padding:15px 20px;border-left:1px solid #1682ba;border-right:1px solid #1682ba;border-top:1px solid #1682ba;cursor:pointer;z-index:2;font-size:14px;font-weight:700;text-decoration:none;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,.35);background:#36aae7;background:-webkit-linear-gradient(#36aae7,#1fa0e4);background:-moz-linear-gradient(#36aae7,#1fa0e4);background:-o-linear-gradient(#36aae7,#1fa0e4);background:-ms-linear-gradient(#36aae7,#1fa0e4);background:linear-gradient(#36aae7,#1fa0e4);box-shadow:inset 0 1px 0 rgba(255,255,255,.15)}
#cssmenu>ul>li.active>a,#cssmenu>ul>li.open>a,#cssmenu>ul>li>a:hover{color:#eee;background:#1fa0e4;background:-webkit-linear-gradient(#1fa0e4,#1992d1);background:-moz-linear-gradient(#1fa0e4,#1992d1);background:-o-linear-gradient(#1fa0e4,#1992d1);background:-ms-linear-gradient(#1fa0e4,#1992d1);background:linear-gradient(#1fa0e4,#1992d1)}
#cssmenu>ul>li.open>a{box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.15)}
.holder{width:0;height:0;position:absolute;top:0;right:0}
#cssmenu ul ul li.has-sub>a::after,.holder::after,.holder::before{display:block;position:absolute;content:"";right:20px}
.holder::after,.holder::before{width:6px;height:6px;z-index:10;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg)}.holder::after{top:17px;border-top:2px solid #fff;border-left:2px solid #fff}
#cssmenu>ul>li.active>a>span::after,#cssmenu>ul>li.open>a>span::after,#cssmenu>ul>li>a:hover>span::after{border-color:#eee}
.holder::before{top:18px;border-top:2px solid;border-left:2px solid;border-top-color:inherit;border-left-color:inherit}
#cssmenu ul ul li a{cursor:pointer;border-bottom:1px solid #32373e;border-left:1px solid #32373e;border-right:1px solid #32373e;padding:10px 20px;z-index:1;text-decoration:none;font-size:13px;color:#eee;background:#49505a;box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
#cssmenu ul ul li.active>a,#cssmenu ul ul li.open>a,#cssmenu ul ul li:hover>a{background:#424852;color:#fff}
#cssmenu ul ul li:first-child>a{box-shadow:none}
#cssmenu ul ul ul li:first-child>a{box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
#cssmenu ul ul ul li a{padding-left:30px}#cssmenu>ul>li>ul>li.last>a,#cssmenu>ul>li>ul>li:last-child>a{border-bottom:0}
#cssmenu>ul>li>ul>li.last.open>a,#cssmenu>ul>li>ul>li.open:last-child>a{border-bottom:1px solid #32373e}
#cssmenu>ul>li>ul>li.open:last-child>ul>li:last-child>a{border-bottom:0}
#cssmenu ul ul li.has-sub>a::after{width:5px;height:5px;z-index:10;top:11.5px;border-top:2px solid #eee;border-left:2px solid #eee;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg)}
#cssmenu ul ul li.active>a::after,#cssmenu ul ul li.open>a::after,#cssmenu ul ul li>a:hover::after{border-color:#fff}